/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--page-main-font);
  background: var(--page-main-background);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght', var(--page-main-wght);
  font-size: var(--page-main-font-size);
}

.header {
  margin-block: 100px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: var(--block-size);
  background-color: var(--block-background-color);
  margin: 52px auto 0px;
  border: 2px solid var(--block-border-color);

  @media (width <= 375px) {
    margin-top: 50px;
  }
}

.header__block {
  padding-block: var(--header-padding);
  font-family: var(--second-font-family);
  font-weight: var(--header-font-weight);
  text-transform: uppercase;
}

.header__logo {
  font-size: var(--header-logo-size);
}

.header__title {
  margin-top: 20px;
  font-size: var(--header-title-size);
}

.item__block {
  list-style: none;
}

.item__title {
  display: block;
  text-align: start;
  inline-size: 100%;
  font-weight: var(--block-title-font-weght);
  padding-block: 4px;
  padding-inline: 10px;
  font-size: var(--block-title-font-size);
}

.card-section_image {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  overflow: hidden;
}

.card__image {
  object-position: center right;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--second-font-family);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: 
    -1px -1px var(--watermark-stroke-color),
    -1px 0 var(--watermark-stroke-color),
    -1px 1px var(--watermark-stroke-color),
    0 -1px var(--watermark-stroke-color),
    0 1px var(--watermark-stroke-color),
    1px -1px var(--watermark-stroke-color),
    1px 0 var(--watermark-stroke-color),
    1px 1px var(--watermark-stroke-color);

  @supports ((-webkit-text-stroke: 1px var(--watermark-stroke-color)) or (text-stroke: 1px var(--watermark-stroke-color))) {
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-stroke: 1px var(--watermark-stroke-color);
    text-shadow: none;
  }
}

.card-section_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.text {
  line-height: 21px;
  letter-spacing: 0;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-inline-start: auto;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

svg {
  flex-shrink: 0;
}

.card__icon-button {
  display: flex;
  padding: 0;
  width: 39px;
  height: 38px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
  transition: outline var(--animation-duration) ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.card__like-button {
  inline-size: 130px;
}

.button__text,
.text__button {
  position: relative;
  z-index: 2;
  font-family: var(--second-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: 90%;
  mix-blend-mode: difference;
  color: var(--accent-color-text);
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--block-background-color);
  border: 2px solid var(--button-border-color);
  outline: none;
  cursor: pointer;
  transition: box-shadow var(--animation-duration) ease;
}

.button::after {
  position: absolute;
  content: "";
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.like-icon {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1000;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill var(--fill-transition-duration) var(--fill-transition-easing);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill var(--fill-transition-duration) var(--fill-transition-easing);
}

.like-icon .core {
  fill: transparent;
  transition: fill var(--fill-transition-duration) var(--fill-delay-core) var(--fill-transition-easing);
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill var(--fill-transition-duration) var(--fill-delay-main-body) var(--fill-transition-easing);
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill var(--fill-transition-duration) var(--fill-transition-easing);
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill var(--fill-transition-duration) var(--fill-transition-easing);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill var(--fill-transition-duration) var(--fill-delay-main-body) var(--fill-transition-easing);
}

/* Залитое сердечко */
.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill var(--fill-transition-duration) var(--fill-transition-easing);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill var(--fill-transition-duration) var(--fill-delay-main-body) var(--fill-transition-easing);
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill var(--fill-transition-duration) var(--fill-delay-contour) var(--fill-transition-easing);
}

.like-icon.is-liked .heart {
  animation: heart var(--animation-duration) var(--heart-scale-delay) var(--animation-easing);
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks var(--animation-duration) var(--sparks-opacity-delay) var(--animation-easing);
}

.filter__grayscale {
  filter: grayscale(0.7);
}

.filter__saturate {
  filter: saturate(300%);
}

.filter__sepia {
  filter: sepia(0.8);
}

.filter__invert {
  filter: invert(80%);
}

.filter__contrast {
  filter: contrast(250%);
}

.filter__blur {
  filter: blur(10px);
}

.filter__mix {
  filter: hue-rotate(0.5turn) blur(2.5px) contrast(150%);
}

.save {
  margin: 50px auto 100px;
  inline-size: var(--save-button-width);
  block-size: var(--save-button-height);
  gap: 8px;

  @media (width <= 375px) {
    flex-direction: column;
    inline-size: var(--save-button-width);
    block-size: var(--save-button-height);
  }
}

.floppy,
.floppy__dialog {
  position: relative;
  color: var(--accent-color-text);
  mix-blend-mode: difference;
  z-index: 2;
}

.floppy {
  width: var(--floppy-icon-size);
  @media (width <= 375px) {
    width: var(--floppy-icon-size-small);
  }
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  inset: 0;
}

.dialog {
  display: grid;
  gap: 30px;
  max-inline-size: min-content;
  padding-inline: var(--dialog-padding-inline);
  padding-block: 30px;
  justify-content: center;
  outline: 2px solid var(--accent-color);
  border: 0;
  transition: opacity var(--animation-duration) ease-in-out;

  @media (width <= 375px) {
    padding-inline: var(--dialog-padding-inline-small);
  }
}

.dialog[open]::backdrop {
  -webkit-backdrop-filter: brightness(25%);
  backdrop-filter: brightness(25%);
}

.dialog__section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
}

.floppy__dialog {
  width: 39px;
  height: 39px;
}

.dialog__button {
  inline-size: var(--dialog-button-width);
  block-size: 38px;

  @media (width <= 375px) {
    inline-size: var(--dialog-button-width-small);
  }
}
